body{
    margin:0;
    font-family: tahoma;
}

A{
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}
A:hover {
    text-decoration: none;  /* Добавляем подчеркивание при наведении курсора на ссылку */
}

.diverror {
    color: #d45252;
}

div#header{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width:100%;
    height:42px;
    background: #5fb053;
    position:fixed;
    z-index: 9999;
}

div#gohome, #searchinhead, #logout{
    height: 40px;
}

div#gohome{
    width:190px;
}

div#searchinhead{
    text-align: left;
    width:600px;
}

div#logout{
    color:white;
    padding-left:15px;
    text-align: left;
    width:175px;
}
div#logout a{
    color:white;
}

div#logout:hover{
    background: #3c9125;
}

div#none{
    height:60px;
}

.login_form {
    padding-top:12px;
    border:1px solid #a2bad5;
}

.register_form {
    border:1px solid #a2bad5;
}

/* стиль для списков с чертой */
ul {
    list-style: none outside;
    margin:0;
    padding:0;
}

li{
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}

/* у первого и последнего li - выделенная черта
li:first-child, li:last-child {
    border-bottom:1px solid #777;
}*/

input {
    height:34px;
    width:320px;
    padding:5px 8px;
}

input:required {
   background: #fff "*" no-repeat 98% center;
}

button {
    display: inline-block;
    width:320px;
    font-family: Arial, Helvetica, FreeSans, sans-serif;
    color:#fff;
    font-weight: bold;
    background: #5fb053;
    border:0;
    border-radius: 5px;
    outline:none;
    padding: .7em 1.5em;
}

button:active {
    background: #59a34e;
}

.login_form button{
    width:140px;
    background: #6888ad;
}


/* цвет и сокрытие placeholder при наведении */
::-webkit-input-placeholder {
    color: lightgray;
}

:focus::-webkit-input-placeholder {
    opacity: 0; transition: opacity 0.3s ease;
}

::-webkit-validation-bubble-message {
    padding: 1em;
}

/*заголовок формы*/
.register_form h2 {
    margin:0;
    display: inline;
}
/* memo Required Field */
.required_notification {
    color:#d45252;
    margin:5px 0 0 0;
    display:inline;
    float:right;
}

.slide div,
.slide [type="checkbox"]{
    display:none;
}

.slide [type="checkbox"]:checked ~ div {
    display:block;
}
